# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Logs
*.log
npm-debug.log*

# Environment / secrets
.env
.env.*
!.env.example
.neon
